/* Estilos gerais */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #23395B;
	color: #B9E3C6
}

header {
	
	background-color: #B9E3C6;
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

#header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-container img{
	width: 50px;

}


nav{
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li {
	color: #B9E3C6;
	text-decoration: none;
	transition: all 0.5s;
}

nav li:hover{
	-webkit-transform: scale(1.5);
	transform: scale(1.2);
	color: #D81E5B;
}


.leiamais{
	transition: all 0.5s;
}

.leiamais:hover{
	color: #D81E5B;
	font-size: 18px;
}
main {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
	background-color: #192b47;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

section:last-child {
	border-bottom: none;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;

}

a {
	color: #D81E5B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #D81E5B;
	color: white;
	border-radius: 5px;
	border: none;
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: #192b47;
	color: #D81E5B;
	text-decoration: none;
}

footer {
	background-color: #B9E3C6;
	color: #23395B;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	margin-top: 50px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* Estilos específicos para telas pequenas */

@media screen and (max-width: 600px) {
	header {
		padding: 10px;
	}
	
	nav li {
		display: block;
		margin-bottom: 10px;
	}
}
